{:deps true
 :builds {:node-test
          {:target :node-test
           :output-to "target/node-test.js"
           :dev {:autorun true}}

          :karma-test
          {:target :karma
           :output-to "target/browser-test.js"}

          :test-server
          {:target     :node-script
           :output-to  "target/test-server.js"
           :main       test-server/start
           :devtools   {:before-load  test-server/stop
                        :after-load   test-server/start}}}}
